body{
    background-image: url("../img/bg.jpg");
    background-size: 100%;
}

/*搜索栏样式*/
/*搜索框5*/
.bar5 {background: #683B4D;}
.bar5 input, .bar5 button {
    background: transparent;
}
.bar5 input {
    border: 2px solid #F9F0DA;
}
.bar5 button {
    top: 0;
    right: 0;
}
.bar5 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.bar5 input:focus {
    border-color: #311c24
}

h1{
    color: #ee9634;
}
#formDiv{
    width: 350px;
    height: 215px;
    margin: 0 auto 0 auto;
}
#form{
    width: 450px;
    height: 350px;
    background-color: rgba(0,0,0,0.2);
    padding-top: 10px;
    margin: 50px auto 0 auto;
    color: white;
}
#clean{
    clear: none;
}
#title{
    padding-bottom: 5px;
}
#button_login{
    width: 170px;
    color: black;
    background-color: #ee9634;
}
#button_register{
    width: 170px;
    color: black;
    background-color: white;
}
#button_login:hover {
    background: #dd8624;
}
#button_register:hover {
    background: #fcd6ac;
}

#b_login{
    width: 170px;
    float: left;
    margin-right: 10px;
}
#b_register{
    width: 170px;
    float: left;
}

.clean{
    clear: none;
}


